@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
}

.container{
   width: 100%;
   height: 100vh;
   display: flex;
}

.container #picture{
   width: 50%;
   height: 85%;
   transition: 0.5s;
   background: #ccc;
   
}

.container #picture.one{
   background: url(../imgaes/img1.jpg);
   background-size: cover;
}

.container #picture.two{
   background: url(../profiles/Scotty/scotty\ 3.jpg);
   background-size: cover;
}

.container #picture.three{
   background: url(../profiles/Natasha/natasha\ 8.jpg);
   background-size: cover;
}
.container #picture.four{
   background: url(../profiles/Namukolo/Namukolo\ 5.jpg);
   background-size: cover;
}
.container #picture.five{
   background: url(../profiles/Maggie/maggie\ 2.JPG);
   background-size: cover;
}
.container #picture.six{
   background: url(../profiles/Maingaila/banner.jpg);
   background-size: cover;
}
.container #picture.seven{
   background: url(../profiles/VICTOR/victor\ 4.jpg);
   background-size: cover;
}
.container #picture.eight{
   background: url(../profiles/alexander/alex\ 6.jpg);
   background-size: cover;
}
.container #picture.nine{
   background: url(../profiles/Wakapembe/Wakapembe\ 4.jpg);
   background-size: cover;
}
.container ul{
   height: 100%;
   padding: 40px 40px;
   margin-left: 10%;
   margin-top: 10%;
}

.container ul li {
   position: relative;
   list-style: none;
   padding: 0 40px;
}

.container ul li a {
   display: block;
   box-sizing: border-box;
   text-decoration: none;
   font-size: 2em;
   color: #ccc;
   text-transform: capitalize;
   font-weight: 700;
   transition: 0.5s;
}

.container ul li a:hover,
.container ul li.active a{
   color: #262626;
   transform: translateX(60px);
}

.container ul li::before{
   content: '';
   position: absolute;
   top: 50%;
   transform: translateY(-50%) scaleX(0);
   width: 50px;
   height: 4px;
   background: #f00;
   transition: 0.5s;
   transform-origin: left;
}

.container ul li:hover::before,
.container ul li.active::before{
   transform: translateY(-50%) scaleX(1);
}