@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 0px 0px;
z-index: 11000;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.5s;

}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    
}
header.sticky:hover{
    opacity: 1;
}


header.sticky .logo{
    color: #111;
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .logo span{
    color: #fff;
}

header.sticky .dot{
   color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin: 30px;
}
header .navigation li a {
text-decoration: none;
color: #fff;
font-weight: 300;   
}

header.sticky .navigation li a{
    color: #111;    
}

header .navigation li a:hover{
    color:#ff0157;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.banner::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff, transparent);
   
    z-index: 1000;
}
.banner::after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #8c0f0f30;
     background: linear-gradient(to bottom, #fff, transparent);
     z-index: 1100;
     mix-blend-mode:soft-light;
}
 
.banner img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}



.countdown #text
{
 position: relative;
 color: #fff;
 font-size: 10em;
 z-index: 1;   
}

.countdown #count{
    position: relative;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    z-index: 1;
    align-items: center;
    justify-content: center;
    left: 20%;
}
.countdown span {
    color: #ff0157;
 }

section{
    padding: 100px;
    

}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titleText{
    color: #111;
    font-weight: 700;
    font-size: 2em;
}
.titleText span{
    color: #ff0157;
    font-weight: 300;
    font-size: 1.5em;
}
.titleText1 {
    color: #111;
   
}
.imgBx .row .col50{
    position: relative;
    width: 100%;
    height: 100%;
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Team{
    background-color: #c3bbb410;
    margin-top: 100px;
}
.Team .content1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    
}

.Team .content1 .box{
    width: 250px;
    margin: 15px;
}
.Team .content1 .box .imgBx1{
    position: relative;
    width: 100%;
    height: 300px;

}
.Team .content1 .box .imgBx1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Team .content1 .box .text{
    padding: 15px o 5px;
    justify-content: center;
}
.Team .content1 .box .text h3{
    font-weight: 400;
    color: #111;
}
.Contact
{
    padding-top: 100px;
    background-image: url(../imgaes/immg.jpg);
    background-size: cover;

}
.contactForm{
    padding: 75px 50px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
    opacity: 0.7;
}
.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.2;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a {
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}



@media (max-width: 991px)
{
    .reveal{
        transform: translateY(10px);
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    
    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }
    
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
         background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }
    .banner{
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
           
        flex-direction: column;
    }
    .banner .countdown #text{
        font-size: 5em;
    }
    .countdown{
        position: relative;
        bottom:150px;
        left:0%;
    }
    .countdown #count{
        font-size: 20px;
        font-weight: 200;
        bottom: 50px;
    
    }
    
    .row{
      
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx{
        width: 100%;
        height: 200px;
        margin-top: 20px;
        position: relative;
        object-fit: cover;
        content: url("../imgaes/img7.jpg");
    }
    .slider{
        position: absolute;
        inset: 40px 40px 200px 40px;
    }
    .slider .slides{
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    }
    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2){
        top: initial;
        bottom: 0px;
    }
    .slider .slides:nth-child(3){
        left: 0;
    }
    .slider .slides:nth-child(4){
        left: 120px;
    }
    .slider .slides:nth-child(5){
        left: 240px;
    }
    .slider .slides:nth-child(6){
        left: 360px;
    }

  
}




